﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #555555;
}

a:hover {
    color: #555555;
    text-decoration: none;
}

.btn_green {
    background-color: forestgreen;
}

.btn_green:hover {
    background-color: forestgreen;
}

.btn_green:after {
    background-color: forestgreen;
}

.btn_red {
    background-color: tomato;
}

.btn_red:hover {
    background-color: tomato;
}

.button_disabled {
    background-color: antiquewhite;
}

.vote_up_btn {
    height: 40px;    
    background-image: url(../../Content/Images/thumb_up.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.vote_up_btn:hover {
    background-color: antiquewhite;    
    opacity: 1.0;
}

.vote_down_btn {
    height: 40px;    
    background-image: url(../../Content/Images/thumb_down.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.vote_down_btn:hover {
    background-color: antiquewhite;
    opacity: 1.0;
}

.vote_up_btn_pressed {
    height: 40px;    
    background-image: url(../../Content/Images/thumb_up_active.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.vote_up_btn_pressed:hover {
    background-color: antiquewhite;
}

.vote_down_btn_pressed {
    height: 40px;    
    background-image: url(../../Content/Images/thumb_down_active.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.vote_down_btn_pressed:hover {
    background-color: antiquewhite;
}

.btn_link {
    height: 80px;
    background-image: url(../../Content/Images/link.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.btn_link:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.btn_text {
    height: 80px;
    background-image: url(../../Content/Images/text.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.btn_text:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.btn_image {
    height: 80px;
    background-image: url(../../Content/Images/image.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.btn_image:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.btn_video {
    height: 80px;
    background-image: url(../../Content/Images/video.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.btn_video:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.middle_position {
    height: 80px;
    line-height: 80px;
    font-size: 20px;
}

.plus_btn {
    height: 20px;
    width: 20px;
    background-image: url(../../Content/Images/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    opacity: 0.5;
}

.plus_btn:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.plus_btn_pressed {
    opacity: 1.0;
}

.minus_btn {
    height: 20px;
    width: 20px;
    background-image: url(../../Content/Images/minus.png);
    background-repeat: no-repeat;
    background-position: center;  
    float: right;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    opacity: 0.5;
}

.minus_btn:hover {
    opacity: 1.0;
    background-color: antiquewhite;
}

.minus_btn_pressed {
    opacity: 1.0;
}

.vote_value {
    float: right; 
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}