﻿@model ReadIT.Models.Comment

@{
    bool display_hours = false;
    int min_ago = (DateTime.Now - Model.PublicationDate).Days * 24 * 60 + (DateTime.Now - Model.PublicationDate).Hours * 60 + (DateTime.Now - Model.PublicationDate).Minutes;
    int hours_ago = 0;
    if (min_ago > 59)
    {
        display_hours = true;
        hours_ago = Int32.Parse(Math.Floor(min_ago / 60.0).ToString());
    }

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    @if (display_hours)
                    {
                        <b style="color: chocolate;">@Model.Author</b> <small><i>@hours_ago h. ago</i></small>
                    }
                    else
                    {
                        <b style="color: chocolate;">@Model.Author</b> <small><i>@min_ago min. ago</i></small>
                    }
                </div>
                <div class="col-md-4" style="text-align: right;">
                    @{
                        string id_value = "vote_value_comment" + @Model.CommentId;
                        string id_value_upvote = "upvote:" + @Model.CommentId;
                        string id_value_downvote = "downvote:" + @Model.CommentId;
                    }
                    <div id=@id_value_upvote data-author="@Model.Author" class="plus_btn"></div>                     
                    <div id=@id_value_downvote data-author="@Model.Author" class="minus_btn"></div>
                    <b class="vote_value" id=@id_value>@Model.Votes</b>                                                          
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Model.Content
                </div>
            </div>
        </div>
    </div>
}