﻿@model ReadIT.Models.Poll

<div class="row">
    <div class="col-md-1">
        <div class="row">
            <div class="col-md-6">
                @{
                    var voteValueId = "vote_value" + @Model.PollId;
                }
                <div class="middle_position"><b id=@voteValueId>@Model.Votes</b></div>
            </div>
            <div class="col-md-6" style="padding: 0;">
                @{
                    var idPollVoteUp = "PollVoteUp:" + Model.PollId;
                    var idPollVoteDown = "PollVoteDown:" + Model.PollId;
                }
                <div class="col-md-12 vote_up_btn" id=@idPollVoteUp>
                </div>
                <div class="col-md-12 vote_down_btn" id=@idPollVoteDown>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="padding: 0;">
        @if (Model.PollType == ReadIT.Models.PollType.Text || Model.PollType == ReadIT.Models.PollType.Link ||
                    Model.PollType == ReadIT.Models.PollType.Video)
        {
            <div class="row">
                <div class="col-md-12">
                    @if (Model.PollType == ReadIT.Models.PollType.Text)
                    {
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        <a href="@Url.Action("Details", "Polls", new { id = Model.PollId })"><b>@Html.DisplayFor(modelItem => Model.Title)</b></a>
                    }
                    else if (Model.PollType == ReadIT.Models.PollType.Link)
                    {
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <a href="@Model.Content"><b>@Html.DisplayFor(modelItem => Model.Title)</b></a>
                    }
                    else if (Model.PollType == ReadIT.Models.PollType.Video)
                    {
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        <a href="@Url.Action("Details", "Polls", new { id = Model.PollId })"><b>@Html.DisplayFor(modelItem => Model.Title)</b></a>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small>
                        Added by: <span id="Author:@Model.PollId" data-author="@Model.Author" style="color: chocolate;">@Model.Author</span>
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(modelItem => Model.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Comments == null || Model.Comments.Count == 0)
                    {
                        <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>Add comment</i></p></a>
                    }
                    else
                    {
                        if (Model.Comments.Count() == 1)
                        {
                            <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>1 comment</i></p></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>@Model.Comments.Count() comments</i></p></a>
                        }
                    }
                </div>
            </div>
        }
        else if (Model.PollType == ReadIT.Models.PollType.Image)
        {
            <div class="col-md-1" style="padding: 0;">
                <img src="~/Content/Images/@Model.Content" width="80px" />
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        <a href="~/Content/Images/@Model.Content"><b>@Html.DisplayFor(modelItem => Model.Title)</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>
                            Added by: <span id="Author:@Model.PollId" data-author="@Model.Author" style="color: chocolate;">@Model.Author</span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.DisplayFor(modelItem => Model.Description)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.Comments == null || Model.Comments.Count == 0)
                        {
                            <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>Add comment</i></p></a>
                        }
                        else
                        {
                            if (Model.Comments.Count() == 1)
                            {
                                <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>1 comment</i></p></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Details", "Polls", new { id = @Model.PollId })#comments"><p><i>@Model.Comments.Count() comments</i></p></a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>