﻿@model ReadIT.Models.Poll

@section scripts {
    @if (@User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/comment_vote")
        @Scripts.Render("~/bundles/poll_vote")
    }
    else
    {
        @Scripts.Render("~/bundles/comment_vote_not_logged")
    }
}

<br id="userName" data-username=@User.Identity.Name />

<!-- Top panel -->

@Html.Partial("_Poll", Model)

<!-- End of Top panel -->
<!-- Content -->

<div class="panel panel-default">
    <div class="panel-body">
        @if (Model.PollType == ReadIT.Models.PollType.Text)
        {
            @Model.Content
        }
        else if (Model.PollType == ReadIT.Models.PollType.Video)
        {
            string content = Model.Content;
            bool copy = false;
            string watch = "";
            foreach (char c in content)
            {
                if (copy)
                {
                    watch += c;
                }
                if (c == '=')
                {
                    copy = true;
                }
            }

            watch = "//www.youtube.com/embed/" + watch;

            <center><iframe width='720' height='480' src='@watch' frameborder='0' allowfullscreen></iframe></center>
        }
    </div>
</div>

<!-- End of Content -->
<!-- Comments -->

<a name="comments"></a>

@if (Model.Comments != null)
{
    foreach (var comment in Model.Comments)
    {
        <div id="test_ajax">
            @Html.Partial("_Comment", comment)
        </div>
    }
}

<!-- End of Comments -->
<!-- Add comment -->
<h4><i>Add comment:</i></h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Comment</label>
            <div class="col-md-10">
                @Html.TextArea("Comment", "", 6, 500, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add comment" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!-- End of Add comment -->