﻿@model IEnumerable<ReadIT.Models.Poll>

<!-- Main page -->

@section scripts {
    @if (@User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/poll_vote")
    }
    else
    {
        @Scripts.Render("~/bundles/poll_vote_not_logged")
    }
}

<br id="userName" data-username="@User.Identity.Name " />

<!-- Add content buttons -->
<div class="row">
    <a href="@Url.Action("CreateLink", "Polls")" title="Add permalink">
        <div class="col-md-3 btn_link"></div>
    </a>
    <a href="@Url.Action("CreateText", "Polls")" title="Add text">
        <div class="col-md-3 btn_text"></div>
    </a>
    <a href="@Url.Action("CreateImage", "Polls")" title="Add picture">
        <div class="col-md-3 btn_image"></div>
    </a>
    <a href="@Url.Action("CreateVideo", "Polls")" title="Add video">
        <div class="col-md-3 btn_video"></div>
    </a>
</div>
<!-- End of Add content buttons -->

@foreach (var item in Model.OrderByDescending(m => m.PublicationDate))
{
    <br />

    @Html.Partial("_Poll", item)
}
